body {
  margin: 0;
  font-family: CopperplateGothicBold;
 background-image: url('constructionworkers_reduced.jpg');
}
header{
    background: white url("header.jpg") scroll no-repeat center;
    background-size: cover;
    padding: 10px;
    color: white;
    text-align: center;
}
header h1{
    font-size: 50px;
}
footer{
    background: white url("footer1.jpg") scroll no-repeat center;
    background-size: cover;
    background-size: 100% 200px;
    padding: 10px;
    color: rgb(144, 153, 238);
    text-align: center;
}
.topnav {
  overflow: hidden;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 5px 10px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color:  #00B4CC;
  color: black;
}

.topnav a.active {
  color: white;
}
<br>
<br>
body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  overflow: hidden;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: brown;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: dodgerblue;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

