body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
}


.search {
  width: 100%;
  position: absolute;
  display: flex;
}

.searchTerm {
  width: 200%;
  border: 3px solid #00B4CC;
  border-right: 3px solid #00B4CC;
  padding: 5px;
  height: 40px;
  border-radius: 5px 5px 5px 5px;
  outline: solid #00B4CC;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 100px;
  height: 40px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
  font-size: 20px;
}
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}